In [1]:
import pandas as pd
import numpy as np
from siuba import *

np.random.seed(753)
hotels = pd.read_csv('https://tidymodels.org/start/case-study/hotels.csv')

In [2]:
hotels \
    .groupby('children') \
    .agg(count=('children', 'count')) \
    .assign(prop = lambda x: x['count'] / x['count'].sum())

          count     prop
children
children   4038  0.08076
none      45962  0.91924

In [3]:
(hotels >>
    group_by(_.children) >>
    summarize(n = _.children.count()) >>
    mutate(prop = _.n / _.n.sum()))

   children      n     prop
0  children   4038  0.08076
1      none  45962  0.91924

In [4]:
(hotels >>
    group_by(_.children, _.reserved_room_type) >>
    summarize(n=_.children.count()) >>
    group_by(_.children) >>
    mutate(prop = _.n / _.n.sum()) >>
    ungroup() >>
    select(-_.n) >> 
    spread('children', 'prop') >>
    mutate(diff = (_.children - _.none)) >>
    arrange(-_.diff)
)

  reserved_room_type  children      none      diff
5                  F  0.154037  0.014730  0.139307
6                  G  0.138187  0.007419  0.130768
2                  C  0.072313  0.002720  0.069593
7                  H  0.042843  0.001349  0.041494
1                  B  0.033432  0.007680  0.025752
4                  E  0.066369  0.061529  0.004840
3                  D  0.115156  0.178626 -0.063470
0                  A  0.377662  0.725904 -0.348242
8                  L       NaN  0.000044       NaN