## tidymodels to sklearn

Sklearn implementation of this tidymodels example: https://www.tidymodels.org/start/case-study/

What is this example about? Hyperparameter tuning:

* sklearn pipelines
* transforming a single column sequentially
* estimators and preprocessing steps as parameters in tuning grid
* single validation set instead of cross-validation

References:

https://gist.github.com/amberjrivera/8c5c145516f5a2e894681e16a8095b5c#use-gridsearchcv-to-identify-the-best-estimator-and-optimize-over-the-entire-pipeline

https://stackoverflow.com/questions/50265993/alternate-different-models-in-pipeline-for-gridsearchcv

https://stackoverflow.com/questions/42266737/parallel-pipeline-to-get-best-model-using-gridsearch/42271829#42271829

In [1]:
import pandas as pd
import numpy as np

np.random.seed(753)
hotels = pd.read_csv('https://tidymodels.org/start/case-study/hotels.csv')

In [2]:
hotels = hotels.dropna()

In [3]:
hotels.transpose()

,0,1,2,3,4,5,6,7,8,9,...,49990,49991,49992,49993,49994,49995,49996,49997,49998,49999
hotel,City_Hotel,City_Hotel,Resort_Hotel,Resort_Hotel,Resort_Hotel,City_Hotel,Resort_Hotel,City_Hotel,City_Hotel,City_Hotel,...,Resort_Hotel,Resort_Hotel,City_Hotel,City_Hotel,City_Hotel,Resort_Hotel,Resort_Hotel,City_Hotel,Resort_Hotel,City_Hotel
lead_time,217,2,95,143,136,67,47,56,80,6,...,283,197,414,225,73,172,48,155,140,12
stays_in_weekend_nights,1,0,2,2,1,2,0,0,0,2,...,2,2,0,2,0,0,0,0,2,2
stays_in_week_nights,3,1,5,6,4,2,2,3,4,2,...,8,8,2,4,2,2,4,4,5,1
adults,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
children,none,none,none,none,none,none,children,children,none,children,...,none,none,none,none,none,children,none,none,none,none
meal,BB,BB,BB,HB,HB,SC,BB,BB,BB,BB,...,BB,Undefined,HB,BB,SC,BB,FB,BB,HB,BB
country,DEU,PRT,GBR,ROU,PRT,GBR,ESP,ESP,FRA,FRA,...,GBR,GBR,DEU,BRA,FRA,PRT,PRT,DEU,GBR,DEU
market_segment,Offline_TA/TO,Direct,Online_TA,Online_TA,Direct,Online_TA,Direct,Online_TA,Online_TA,Online_TA,...,Offline_TA/TO,Offline_TA/TO,Groups,Online_TA,Online_TA,Direct,Direct,Offline_TA/TO,Direct,Online_TA
distribution_channel,TA/TO,Direct,TA/TO,TA/TO,Direct,TA/TO,Direct,TA/TO,TA/TO,TA/TO,...,TA/TO,TA/TO,TA/TO,TA/TO,TA/TO,Direct,Direct,TA/TO,Direct,TA/TO
is_repeated_guest,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
previous_cancellations,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
previous_bookings_not_canceled,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
reserved_room_type,A,D,A,A,F,A,C,B,D,A,...,A,D,A,A,A,A,A,A,G,A
assigned_room_type,A,K,A,A,F,A,C,A,D,A,...,A,D,A,A,A,A,B,A,G,A
booking_changes,0,0,2,0,0,0,0,0,0,0,...,0,1,0,0,0,1,2,0,0,0
deposit_type,No_Deposit,No_Deposit,No_Deposit,No_Deposit,No_Deposit,No_Deposit,No_Deposit,No_Deposit,No_Deposit,No_Deposit,...,No_Deposit,No_Deposit,No_Deposit,No_Deposit,No_Deposit,No_Deposit,No_Deposit,No_Deposit,No_Deposit,No_Deposit
days_in_waiting_list,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
customer_type,Transient-Party,Transient,Transient,Transient,Transient,Transient,Transient,Transient,Transient,Transient,...,Contract,Transient,Transient-Party,Group,Transient,Transient,Transient,Transient,Transient,Transient
average_daily_rate,80.75,170,8,81,157.6,49.09,289,82.44,135,180,...,72.2,114.9,122.4,70.03,79.2,73.39,158,82.5,143,171.33
required_car_parking_spaces,none,none,none,none,none,none,none,none,none,none,...,none,none,none,none,none,none,none,none,none,none
total_of_special_requests,1,3,2,1,4,1,1,1,1,1,...,1,0,1,1,1,1,0,1,0,1
arrival_date,2016-09-01,2017-08-25,2016-11-19,2016-04-26,2016-12-28,2016-03-13,2017-08-23,2016-12-08,2017-05-02,2016-08-07,...,2017-06-29,2016-06-01,2017-07-13,2016-10-20,2017-01-27,2016-10-07,2015-09-01,2017-07-26,2016-04-28,2016-09-18

In [4]:
hotels \
    .groupby('children') \
    .agg(count=('children', 'count')) \
    .assign(prop = lambda x: x['count'] / x['count'].sum())

          count      prop
children
children   4026  0.080988
none      45685  0.919012

In [5]:
from sklearn.model_selection import train_test_split

features = hotels.drop('children', axis=1)
outcome = hotels['children']

X_train, X_test, y_train, y_test = train_test_split(
    features, 
    outcome, 
    test_size=0.25, 
    stratify=outcome
)

In [8]:
from sklearn.model_selection import ShuffleSplit

validation_set = ShuffleSplit(n_splits=1, train_size=0.8)

In [9]:
from sklearn.linear_model import LogisticRegression

https://www.tomasbeuzen.com/post/scikit-learn-gridsearch-pipelines/

https://stackoverflow.com/questions/16437022/how-to-tune-parameters-of-nested-pipelines-by-gridsearchcv-in-scikit-learn

In [10]:
import holidays

relevant_holidays = [
    "Christmas Day", "Good Friday", "New Year's Day",
    "Easter Monday"
]

def make_holidays(df, relevant_holidays=None):
    def __make_holidays(array, relevant_holidays=None):

        all_holidays = list(map(holidays.EuropeanCentralBank().get, array))
        return np.array([holiday if holiday in relevant_holidays else "_none" for holiday in all_holidays])
    
    return df.apply(
        func=__make_holidays, axis='columns', result_type='broadcast', relevant_holidays=relevant_holidays
    )

A pipeline is key to make transformations on the same column sequentially. In this case, we identify a date that is a holiday, replace it with a string, and then `OneHotEncode` it. But any multistep transformation can be expressed as such.

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import FunctionTransformer

holiday_indicator = make_pipeline(
    FunctionTransformer(make_holidays, kw_args={'relevant_holidays': relevant_holidays}),
    OneHotEncoder(drop=['_none'], sparse=False)
)

In [21]:
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector

nominal = features.columns[features.dtypes == object].drop('arrival_date')
numeric = features.columns[features.dtypes != object]

log_preprocess = make_column_transformer(
    (holiday_indicator, ["arrival_date"]),
    (OneHotEncoder(sparse=False, handle_unknown='ignore'), nominal),
    (VarianceThreshold(), numeric),
    (StandardScaler(), numeric)
)

In [12]:
from sklearn.pipeline import Pipeline

model_pipeline = Pipeline([
    ('transformer', log_preprocess),
    ('classifier', LogisticRegression(max_iter=5000))
])

In [13]:
log_grid = {
    'classifier__C': 10**np.linspace(-4, -1, num=30)
}

In [ ]:
# Next step is random forest

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
from category_encoders.ordinal import OrdinalEncoder

rf_preprocess = make_column_transformer(
    (holiday_indicator, ["arrival_date"]),
    (OrdinalEncoder(), nominal),
    remainder='passthrough'
)

In [24]:
model_grid = [
    log_grid,
    {
        'transformer': [rf_preprocess],
        'classifier': [RandomForestClassifier()],
        'classifier__max_features': np.linspace(1, 25, num=5, dtype=int),
        'classifier__min_samples_split': np.linspace(2, 40, num=5, dtype=int)
    }
]

In [25]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer
from sklearn.metrics import roc_auc_score

roc_auc_scorer = {
    'roc_auc': make_scorer(roc_auc_score, needs_proba=True)
}

model_tuner = GridSearchCV(
    estimator=model_pipeline, 
    param_grid=model_grid, 
    cv=validation_set, 
    scoring=roc_auc_scorer,
    refit='roc_auc'
)

In [26]:
model_results = model_tuner.fit(X_train, y_train)

['test_roc_auc', 'C', 'max_features', 'min_samples_split']

In [50]:
cv_results = pd.DataFrame(model_results.cv_results_)
renamed = {
    'mean_test_roc_auc': 'test_roc_auc',
    "param_classifier__C": "C",
    "param_classifier__max_features": "max_features",
    "param_classifier__min_samples_split": "min_samples_split"
}

cv_results \
    .rename(columns=renamed) \
    [list(renamed.values())] \
    .sort_values('test_roc_auc', ascending=False)

    test_roc_auc            C max_features min_samples_split
36      0.904333          NaN            7                11
37      0.900241          NaN            7                21
35      0.899664          NaN            7                 2
31      0.898898          NaN            1                11
38      0.898265          NaN            7                30
41      0.897192          NaN           13                11
42      0.896677          NaN           13                21
39      0.896293          NaN            7                40
46      0.896264          NaN           19                11
49      0.894880          NaN           19                40
32      0.894651          NaN            1                21
44      0.894624          NaN           13                40
30      0.894515          NaN            1                 2
48      0.894406          NaN           19                30
47      0.893770          NaN           19                21
43      0.893601          NaN           13                30
53      0.893222          NaN           25                30
54      0.892716          NaN           25                40
45      0.892677          NaN           19                 2
52      0.892598          NaN           25                21
40      0.892131          NaN           13                 2
51      0.891531          NaN           25                11
33      0.891115          NaN            1                30
50      0.890093          NaN           25                 2
34      0.889811          NaN            1                40
25      0.858034    0.0385662          NaN               NaN
26      0.857882     0.048939          NaN               NaN
24      0.857848     0.030392          NaN               NaN
27      0.857693    0.0621017          NaN               NaN
28      0.857613    0.0788046          NaN               NaN
29      0.857476          0.1          NaN               NaN
23      0.857461    0.0239503          NaN               NaN
22      0.856966    0.0188739          NaN               NaN
21      0.856112    0.0148735          NaN               NaN
20      0.854862     0.011721          NaN               NaN
19      0.853389   0.00923671          NaN               NaN
18      0.851300   0.00727895          NaN               NaN
17      0.848720   0.00573615          NaN               NaN
16      0.845781   0.00452035          NaN               NaN
15      0.842117   0.00356225          NaN               NaN
14      0.837802   0.00280722          NaN               NaN
13      0.833028   0.00221222          NaN               NaN
12      0.827792   0.00174333          NaN               NaN
11      0.822133   0.00137382          NaN               NaN
10      0.815945   0.00108264          NaN               NaN
9       0.809575  0.000853168          NaN               NaN
8       0.803183  0.000672336          NaN               NaN
7       0.796951  0.000529832          NaN               NaN
6       0.790699  0.000417532          NaN               NaN
5       0.784839  0.000329034          NaN               NaN
4       0.778926  0.000259294          NaN               NaN
3       0.773680  0.000204336          NaN               NaN
2       0.768606  0.000161026          NaN               NaN
1       0.763979  0.000126896          NaN               NaN
0       0.759960       0.0001          NaN               NaN

In [55]:
best_model = model_results.best_estimator_

In [200]:
importances = best_model.named_steps.classifier.feature_importances_
importances.shape

(25,)

In [ ]:
transformers = best_model.named_steps.transformer.transformers_

In [206]:
pd.DataFrame({'name':[transform[2] for transform in transformers]}) \
    .apply(lambda x: x if type(x['name'][0]) is str else [features.iloc[:, x['name']].columns], axis=1) \
    .explode('name') \
    .reset_index(drop=True)

                              name
0                     arrival_date
1                            hotel
2                             meal
3                          country
4                   market_segment
5             distribution_channel
6               reserved_room_type
7               assigned_room_type
8                     deposit_type
9                    customer_type
10     required_car_parking_spaces
11                       lead_time
12         stays_in_weekend_nights
13            stays_in_week_nights
14                          adults
15               is_repeated_guest
16          previous_cancellations
17  previous_bookings_not_canceled
18                 booking_changes
19            days_in_waiting_list
20              average_daily_rate
21       total_of_special_requests

In [217]:
ohe = transformers[0][1].steps[1][1]

In [223]:
ohe.get_feature_names()

array(['x0_Christmas Day', 'x0_Easter Monday', 'x0_Good Friday',
       "x0_New Year's Day"], dtype=object)

In [230]:
ordinal = transformers[1][1]

In [233]:
ordinal.get_feature_names()

['hotel',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'reserved_room_type',
 'assigned_room_type',
 'deposit_type',
 'customer_type',
 'required_car_parking_spaces']

In [237]:
transformers[2][2]

[1, 2, 3, 4, 9, 10, 11, 14, 16, 18, 20]